<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <!--- basic page needs
   ================================================== -->
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="bootstrap/css/base.css" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="bootstrap/css/vendor.css">
    <link rel="stylesheet" href="bootstrap/css/main.css">

    <!-- script
    ================================================== -->
    <script src="bootstrap/js/modernizr.js"></script>
    <script src="bootstrap/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="bootstrap/favicon.ico" type="../bootstrap/image/x-icon">
    <link rel="icon" href="bootstrap/favicon.ico" type="../bootstrap/image/x-icon">


</head>
<body>
<script>
    document.body.style.background ="white";
    document.body.style.margin= "150px 100px";
</script>
<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="./">
            <img src="bootstrap/images/logo.svg" alt="Homepage">
        </a>
    </div> <!-- end header-logo -->

    <nav class="header-nav">

        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

        <div class="header-nav__content">
            <h3>Transcend Studio</h3>

            <ul class="header-nav__list" style="list-style-type: none;margin: 0;  padding: 0;">
                <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#latestBooks" title="about">Latest Books</a></li>
                <li><a class="smoothscroll"  href="#categories" title="about">Categories</a></li>
                <li><a class="smoothscroll"  href="#services" title="services">Publishers</a></li>
                <li><a class="smoothscroll"  href="#works" title="works">Books</a></li>
                <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>

            </ul>

            <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>

            <ul class="header-nav__social">
                <li>
                    <a href="#0"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-behance"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-dribbble"></i></a>
                </li>
            </ul>

        </div> <!-- end header-nav__content -->

    </nav> <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0" style="color: black;background-color: black;" >
        <span class="header-menu-icon"></span>
    </a>

</header> <!-- end s-header -->

<script src="bootstrap/js/jquery-3.2.1.min.js"></script>
<script src="bootstrap/js/plugins.js"></script>
<script src="bootstrap/js/main.js"></script>
</body>
</html>